body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
}
* {
    padding: 0;
    margin: 0;
    transition: all ease 0.25s;
}

*::selection { background: transparent; }
*::-moz-selection { background: transparent; }

#colorpick{   
    margin-left: 42px;
    display: block;
    animation: rodadinha2 1.25s infinite;
    animation-direction: alternate-reverse;
}
@keyframes rodadinha2 {
    0% {
        /* font-size: 36px; */
    }
    25%{
        transform: rotate(-270deg) scale(3);
    }
    50%{

    }
    75%{
        transform: rotate(270deg) scale(3);
    }
    100% {
        /* font-size: 42px; */
        /* transform: rotate(30deg) scale(1.4); */
    }
}